../.idea
.idea
.pytest_cache
__pycache__
download
*.out
credentials.sh
tmp
logs
js_files
venv
temp
*.out.gz
.DS_Store
history
.amlignore
js_feeder/download
js_feeder/test
js_feeder/logs

azure_batch/test
jstap/test
credentials.json
personal.txt
test/crawler/download